.post {
  margin: 10px auto;
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 2px 4px #0000000a;

  .box {
    width: 90%;
    margin: 20px auto;

    #category {
      margin-bottom: 0;
    }

    #control {
      float: right;
      display: flex;

      a {
        text-decoration: none;
      }

      #delete {
        margin-left: 10px;
        padding: 0;
        color: #f85959;
        background-color: transparent;
        border: none;
        cursor: pointer;
      }
    }

    #title {
      margin: 0;
      margin-top: 10px;
      color: $green;
      text-transform: uppercase;

      a {
        color: $green;
        text-decoration: none;
      }
    }

    #content {
      margin-top: 30px;
      font-size: 16px;
    }

    #comments {
      width: 105px;
      color: white;
      background: $cyan;
      border-radius: 4px;
      text-align: center;
    }

    hr {
      margin: 30px auto;
    }

    .comments {
      form {
        margin: 30px auto;
      }

      .comment {
        #author {
          margin-top: 10px;
          margin-bottom: 0;
          font-size: 16px;

          a {
            color: $green;
            text-decoration: none;
          }
        }
        
        #content {
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
}