.navbar {
  margin-bottom: 30px;
}

.navbar-left {
  a.nav-link {
    padding-left: 0 !important;
    padding-right: 1rem !important;
  }
}

.navbar-right {
  a.nav-link {
    padding-left: 1rem !important;
    padding-right: 0 !important;
  }
}