.dashboard {
  h3 {
    margin-bottom: 30px;
  }

  #add-post {
    color: $green;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .posts {
    margin-top: 30px;

    .post {
      margin: 10px auto;
      background: white;
      box-shadow: 0 2px 4px #0000000a;

      #comments {
        width: 105px;
        color: white;
        background: $cyan;
        border-radius: 4px;
        text-align: center;
      }
    }
  }
}