.postfeed {
  margin-top: 30px;

  .post {
    margin: 10px auto;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0 2px 4px #0000000a;

    .box {
      width: 90%;
      margin: 20px auto;

      #category {
        margin-bottom: 0;
      }
  
      #title {
        margin: 0;
        margin-top: 10px;
        color: $green;
        text-transform: uppercase;
      }
  
      #content {
        margin-top: 30px;
        font-size: 18px;
      }
    }
  }
}